#element {
  overflow-y: scroll;
  background-color: rgb(185, 218, 223);
  height: 300px;
  width: 600px;
  margin-left: 20px;
}

#element::-webkit-scrollbar {
  width: 12px;
  background-color: beige;
}

#element::-webkit-scrollbar-thumb {
  background-color:  #18aaaa;
  border-radius: 10px;
}

.scroll {
  min-height: 700px;
}